.wraperImage{
    // position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
    
}
.wraperDraw{
    position: absolute;
    z-index: 0;
    left: 24px;
    top: 51px;
    background: rgba(0,0,0,0);
    // cursor: crosshair;
    box-sizing: border-box;
}
